#header-wrapper {
  position: absolute;
  z-index: 100;
  width: 100%;
  transform: translateZ(0);
}

#header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: $header-height;
  background: #fff;
  border-bottom: 1px solid #DDE4E7;
  transition: transform 0.2s ease-in-out;
  box-sizing: content-box;
}

#header {
  .controls {
    margin: 12px 23px 0 10px;
    user-select: none;

    .hollow-button {
      &.main {
        border-color: $main-color;
        color: $main-color;
      }
      &.black {
        border-color: $body-color;
        color: $body-color;
      }
    }

    > li + li {
      margin-left: 10px;
    }
  }
}

.controls {
  float: right;
  list-style: none;
  margin-top: 0;
  margin-bottom: 11px;

  > li {
    position: relative;
    display: block;
    float: left;
  }
}

.title {
  position: absolute;
  font-family: $heading-font;
  font-size: 20px;
  line-height: $header-height;
  padding: 0 1em;
  user-select: none;
}

.profile-button {
  padding: .25em 1em;
  display: inline-block;
  user-select: none;
}

.profile-menu {
  display: flex;
  position: absolute;
  top: 150%;
  padding: .5em 0;
  text-align: left;
  right: .5em;
  user-select: none;

  ul {
    box-shadow: 0 2px 12px rgba(0,0,0,0.175);
    border-radius: 5px;
    background: #fff;
    padding: 0.3em 0;
    margin: 0;
    list-style: none;
    min-width: 150px;

    li {
      float: none;
      white-space: nowrap;
      padding: .3em 1em;
      font-weight: 300;
      cursor: pointer;
      &:hover {
        color: $darker-color;
        background: $lightest-color;
      }
    }
  }
}