* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}

[contenteditable] {
  outline: none;
}

.container {
  margin: 2em auto;
  width: 800px;
}