$body-color: #485451;
$faded-color: #adb6b9;

$lighter-color: #84B5FF;
$main-color: #77A3E5;
$darker-color: #5C7FB2;

$header-height: 52px;
$heading-font: "Varela Round", Helvetica, Arial, sans-serif;