.experiment-title {
  font-size: 2em;
  border: none;
  outline: none;
  background: inherit;
  resize: none;
  display: block;
  width: 100%;
  text-transform: capitalize;
  margin: 0;
  line-height: 1.3em;
  min-height: 1.3em;
  overflow: hidden;
}

.add-experiment-form {
  margin-top: 3em;
}